<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<!--"npm run watch"-->
	<body class="admin-background min-h-screen">
		<header class="bg-brown w-auto lg:py-2 xs:py-1">
			<nav class="stylisedPolice text-center text-white flex lg:gap-3 xs:gap-1 justify-center align-center lg:text-xl rounded-md w-auto mx-4 my-auto xs:text-xs">
				<a href="{{ path('galeryManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier galerie</a>
				<a href="{{ path('cardManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier carte</a>
				<a href="{{ path('shedulerManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier horaire</a>
				<a href="{{ path('bookingManager') }}" class="lg:w-44 xs:w-52 bg-light-brown-active hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Voir réservations</a>
				<a href="{{ path('connection') }}" class="lg:w-44 xs:w-52 bg-red-400 hover:bg-red-500 transition-all ease-in lg:rounded-lg xs:rounded-none">Déconnection</a>
			</nav>
		</header>
		<main class="flex justify-center items-center flex-col mt-10">
			<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Définir le maximum de convive</label>
			<input type="number" placeholder="Nombre" class="mb-2 text-black lg:text-2xl xs:text-lg" required>
		</main>
		<section class="text-center mt-10">
			<button type="submit" method="post" class="w-32 rounded-md bg-green-700 hover:bg-green-500 text-white p-2 transition-all ease-in font-bold">
				Envoyer
			</button>
		</section>
		<footer class="flex justify-center">
			<table class="table-auto text-white mt-10">
			  <thead>
			    <tr>
			      <th class="px-4 py-2 lg:text-2xl xs:text-lg">Nom de famille</th>
			      <th class="px-4 py-2 lg:text-2xl xs:text-lg">Nombre de convives</th>
			      <th class="px-4 py-2 lg:text-2xl xs:text-lg">Heure</th>
			    </tr>
			  </thead>
				<tbody>
				  <tr>
				    <td class="lg:px-4 lg:py-2 xs:px-8 xs:py-2">Doe</td>
				    <td class="lg:px-4 lg:py-2 xs:px-8 xs:py-2">2</td>
				    <td class="lg:px-4 lg:py-2 xs:px-8 xs:py-2">12h00</td>
				  </tr>
				  <tr>
				    <td class="lg:px-4 lg:py-2 xs:px-8 xs:py-2">Doe</td>
				    <td class="lg:px-4 lg:py-2 xs:px-8 xs:py-2">2</td>
				    <td class="lg:px-4 lg:py-2 xs:px-8 xs:py-2">12h00</td>
				  </tr>
				</tbody>
			</table>
		</footer>
	</body>
</html>
