<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<!--"npm run watch"-->
	<body class="admin-background min-h-screen">
		<header class="bg-brown w-auto lg:py-2 xs:py-1">
			<nav class="stylisedPolice text-center text-white flex lg:gap-3 xs:gap-1 justify-center align-center lg:text-xl rounded-md w-auto mx-4 my-auto xs:text-xs">
				<a href="{{ path('galeryManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier galerie</a>
				<a href="{{ path('cardManager') }}" class="lg:w-44 xs:w-52 bg-light-brown-active hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier carte</a>
				<a href="{{ path('shedulerManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier horaire</a>
				<a href="{{ path('bookingManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Voir réservations</a>
				<a href="#" class="lg:w-44 xs:w-52 bg-red-400 hover:bg-red-500 transition-all ease-in lg:rounded-lg xs:rounded-none">Déconnection</a>
			</nav>
		</header>
		<main class="lg:mt-24 xs:mt-8 lg:ml-32 xs:ml-[6.5rem] grid lg:grid-cols-3 lg:grid-rows-3 xs:grid-cols-1 xs:grid-rows-9 flex-col">
		    <section class="flex-col">
				<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Entrée</label>
				<input type="text" placeholder="Entrée 1" class="mb-2 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Entrée 2" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Entrée 3" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
			</section>
			<section>
				<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Plats</label>
				<input type="text" placeholder="Plat 1" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Plat 2" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Plat 3" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
			</section>
			<section>
				<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Desserts</label>
				<input type="text" placeholder="Dessert 1" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Dessert 2" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Dessert 3" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
			</section>
			<section>
				<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Apéritifs</label>
				<input type="text" placeholder="Apéritif 1" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Apéritif 2" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Apéritif 3" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
			</section>
			<section>
				<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Boissons</label>
				<input type="text" placeholder="Boisson 1" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Boisson 2" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Boisson 3" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Boisson 4" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
			</section>
			<section>
				<label class="block text-white font-bold mb-2 text-2xl" for="entree1">Notre cave</label>
				<input type="text" placeholder="Vin 1" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Vin 2" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
				<input type="text" placeholder="Vin 3" class="mb-3 text-black lg:text-2xl xs:text-lg" required>
			</section>
		</main>
		<section class="text-center lg:-mt-16 xs:-mt-0">
			<button type="submit" method="post" class="w-32 rounded-md bg-green-700 hover:bg-green-500 text-white p-2 transition-all ease-in font-bold">
				Envoyer
			</button>
		</section>
	</body>
</html>