{% include 'Components/adminhead.html.twig' %}
{% include 'Components/adminheader.html.twig' %}
{% block body %}
    <section class="mt-10 grid lg:grid-cols-3 lg:grid-row-2 xs:grid-cols-1 row-span-3 gap-3 group text-center text-white">
        <section>
            <h1 class="category-admin-title">Entrées</h1>
            {% if starters is defined %}
                {% for starter in starters %}
				    <section>
				        <div>
				            <div class="dish-admin-title">
                                <form action="{{ path('admin_viewer_delete', { 'type': 'starter', 'id': starter.id }) }}" method="POST">
                                    <button class="admin-delete-button" type="submit" ><i class="fa-solid fa-square-xmark fa-xl"></i></button>
                                
                                    <b>({{ starter.id }})</b> {{ starter.title }}
                                    <p class="dish-price">{{ starter.price }} €</p>
                                    <p class="dish-description">{{ starter.description }}</p>
                                </form>
                            </div>
				        </div>
				    </section>
                {% endfor %}
            {% else %}
                Aucune entrée n'a été trouvée.
            {% endif %}
        </section>
        <section>
            <h1 class="category-admin-title">Desserts</h1>
            {% if desserts is defined %}
                {% for dessert in desserts %}
				    <section>
				        <div>
				            <div class="dish-admin-title">
                                <form action="{{ path('admin_viewer_delete', { 'type': 'desserts', 'id': dessert.id }) }}" method="POST">
                                    <button class="admin-delete-button"  type="submit" ><i class="fa-solid fa-square-xmark fa-xl"></i></button>
                                
                                    <b>({{ dessert.id }})</b> {{ dessert.title }}
                                    <p class="dish-price">{{ dessert.price }} €</p>
                                    <p class="dish-description">{{ dessert.description }}</p>
                                </form>
                            </div>
				        </div>
				    </section>
                {% endfor %}
            {% else %}
                Aucun dessert n'a été trouvé.
            {% endif %}
        </section>
        <section>
            <h1 class="category-admin-title">Boissons</h1>
            {% if drinks is defined %}
                {% for drink in drinks %}
				    <section>
				        <div>
				            <div class="dish-admin-title">
                                <form action="{{ path('admin_viewer_delete', { 'type': 'drink', 'id': drink.id }) }}" method="POST">
                                    <button class="admin-delete-button"  type="submit" ><i class="fa-solid fa-square-xmark fa-xl"></i></button>
                                
                                    <b>({{ drink.id }})</b> {{ drink.title }}
                                    <p class="dish-price">{{ drink.price }} €</p>
                                </form>
                            </div>
				        </div>
				    </section>
                {% endfor %}
            {% else %}
                Aucune boissons n'a été trouvée.
            {% endif %}
        </section>
        <section>
            <h1 class="category-admin-title">Plats</h1>
            {% if dishes is defined %}
                {% for dish in dishes %}
				    <section>
				        <div>
				            <div class="dish-admin-title">
                                <form action="{{ path('admin_viewer_delete', { 'type': 'dish', 'id': dish.id }) }}" method="POST">
                                    <button class="admin-delete-button"  type="submit" ><i class="fa-solid fa-square-xmark fa-xl"></i></button>
                                
                                    <b>({{ dish.id }})</b> {{ dish.title }}
                                    <p class="dish-price">{{ dish.price }} €</p>
                                    <p class="dish-description">{{ dish.description }}</p>
                                </form>
                            </div>
				        </div>
				    </section>
                {% endfor %}
            {% else %}
                Aucun plat n'a été trouvé.
            {% endif %}
        </section>
        <section>
            <h1 class="category-admin-title">Apéritifs</h1>
            {% if aperitifs is defined %}
                {% for aperitif in aperitifs %}
				    <section>
				        <div>
				            <div class="dish-admin-title">
                                <form action="{{ path('admin_viewer_delete', { 'type': 'aperitif', 'id': aperitif.id }) }}" method="POST">
                                    <button class="admin-delete-button"  type="submit" ><i class="fa-solid fa-square-xmark fa-xl"></i></button>
                                
                                    <b>({{ aperitif.id }})</b> {{ aperitif.title }}
                                    <p class="dish-price">{{ aperitif.price }} €</p>
                                    <p class="dish-description">{{ aperitif.description }}</p>
                                </form>
                            </div>
				        </div>
				    </section>
                {% endfor %}
            {% else %}
                Aucun apéritif n'a été trouvé.
            {% endif %}
        </section>
        <section>
            <h1 class="category-admin-title">Cave</h1>
            {% if cellars is defined %}
                {% for cellar in cellars %}
				    <section>
				        <div>
				            <div class="dish-admin-title">
                                <form action="{{ path('admin_viewer_delete', { 'type': 'cellar', 'id': cellar.id }) }}" method="POST">
                                    <button class="admin-delete-button" type="submit" ><i class="fa-solid fa-square-xmark fa-xl"></i></button>
                                
                                    <b>({{ cellar.id }})</b> {{ cellar.title }}
                                    <p class="dish-description">{{ cellar.description }}</p>
                                </form>
                            </div>
				        </div>
				    </section>
                {% endfor %}
            {% else %}
                Aucun vin ou spiritueux n'a été trouvé.
            {% endif %}
        </section>
    </section>
{% endblock %}
