<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<!--"npm run watch"-->
	<body class="bg-red-300 min-h-screen">
		<header class="bg-brown w-auto">
			<nav class="stylisedPolice text-center text-white flex gap-4 justify-center lg:text-xl rounded-md w-auto mx-4 my-auto xs:text-xs">
				<a href="{{ path('index') }}" class="nav-button">Notre carte</a>
				<a href="{{ path('booking') }}" class="nav-button">Réservations</a>
				<a href="{{ path('galery') }}" class="nav-button">Galerie</a>
				<a href="{{ path('connection') }}" class="nav-button">Connexion</a>
			</nav>
		</header>
		<main class="stylisedPolice m-auto bg-connection mt-5 pt-24 pb-24 lg:mx-32 xs:mx-0 text-center">

		</main>
		<footer class="stylisedPolice ">

		</footer>
	</body>
</html>
