{% include 'Components/head.html.twig' %}

<body class="background min-h-screen">
{% include 'Components/header.html.twig' %}
    <main class="stylisedPolice bg-dark py-16 lg:mx-16 xs:mx-0 mb-14 lg:mt-10 xs:mt-0">
		<section class="text-green-300 text-center font-bold mb-5">
			<p id="remaining-places"></p>
		</section>
        <form method="post" action="{{ path('app_booking') }}" class="">
            {{ form_start(booking) }}
			
			<section class="flex lg:flex-row xs:flex-col gap-4 text-center m-auto justify-center">
				<section class="lg:text-center xs:text-center">
                	{{ form_widget(booking.name) }}
            	</section>
            	<section class="xs:mb-1 lg:text-center xs:text-center">
            	    {{ form_widget(booking.guestNumber) }}
            	</section>
            	<section class="lg:text-center xs:text-center mb-4">
            	    {{ form_widget(booking.date) }}
            	</section>
			</section>
            <section class="px-5 text-black text-center">
				<section class="mb-1">
						<section class="">
							{{ form_widget(booking.bookingTime) }}
						</section>
            	</section>
				<p  class="text-lg mt-3 text-white">Allergies</p>
            	<section class="text-lg">
            	    	{{ form_widget(booking.allergies) }}
            	</section>
			</section>
			<section class="text-white text-center my-6 xs:px-5">
				<button type="submit" class="send-booking-button">Réserver</button>
			</section>
			{% if message is defined %}
			    <p class="message-{{ messageType }} text-center">{{ message }}</p>
			{% endif %}
            {{ form_end(booking) }}
			<p class="mt-2 text-white text-xs flex align-middle justify-center text-center">
				<i class="text-red-600">*</i>
				En cas de retard de plus de 20 minutes,
				nous nous réservons de considérer la présente réservation comme annulée.<br>
				<br>
			</p>
    </section>
	{% include 'Components/footer.html.twig' %}
	<script>
		function fetchRemainingPlaces() {
			fetch('/booking/remainingPlaces')
				.then(function(response) {
				if (!response.ok) {
					throw new Error('Une erreur est survenue. Veuillez revenir plus tard...');
				}
					return response.json();
				})
				
				.then(function(data) {
					const bookingNumber = data.remainingPlaces - data.bookingNumber;
					const bookingNumberElement = document.querySelector('#remaining-places');

					if (bookingNumberElement) {
						bookingNumberElement.innerText = `Places restantes : ${bookingNumber}`;
					} else if(bookingNumber == 0) {
						bookingNumberElement.innerText = ``
					}
				}) 
				.catch(function(error) {
					console.error('Erreur lors de la récupération des places restantes:', error);
				});
			}
		// Appeler la fonction pour afficher initialement les places restantes
		fetchRemainingPlaces();
		
		// Appeler la fonction à intervalle régulier (par exemple, toutes les 10 secondes)
		setInterval(fetchRemainingPlaces, 10000);
	</script>
</body>