
{% include "Components/head.html.twig" %}
<body class="background min-h-screen">
	{% include 'Components/header.html.twig' %}
    {% block body %}
        {{ form_start(register) }}
	    <main class="stylisedPolice m-auto bg-connection mt-5 pt-24 pb-24 lg:mx-32 xs:mx-0 text-center">
	    	<section class="inline-block text-center">
	    		<p class="text-md text-white block text-left">Email<i class="text-red-600">*</i></p>
	    		{{ form_widget(register.email) }}
	    		<p class="text-md text-white block text-left">Mot de passe<i class="text-red-600">*</i></p>
	    		{{ form_widget(register.password) }}
	    		<p class="text-md text-white block text-left">Répétez le mot de passe<i class="text-red-600">*</i></p>
	    		{{ form_widget(register.confirm) }}
	    		<p class="text-md text-white block text-left">Nombre de couverts<i class="text-red-600">*</i></p>
	    		{{ form_widget(register.guestNumber) }}
				<p class="text-md text-white block text-left">Allergies<i class="text-red-600">*</i></p>
	    		{{ form_widget(register.allergies) }}

	    	</section>
	    	<section class="text-white">
	    		<button type="submit" class="submit-button mt-5">
	    			S'enregistrer
	    		</button>
	    		<p class="text-xs mt-2">Vous possédez déjà un compte?</p>
	    		<a href="{{ path('app_connection') }}" class="text-sm font-bold hover:text-orange-200">
					Connectez-vous !
				</a>
				{% if message is defined %}
				    <p class="message-{{ messageType }}">{{ message }}</p>
				{% endif %}
	    	</section>
	    </main>
        {{ form_end(register) }}
    {% endblock %}
</body>
{% include 'Components/footer.html.twig' %}
