<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<!--Patch error 404 favicon not found-->
		<link rel="shortcut icon" href="#">
		<script src="https://kit.fontawesome.com/abab09da6b.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<!--"npm run watch"-->
	<body class="bg-zinc-800 relative">

		{% include 'base.html.twig' %}
		
		<main class="relative text-white mt-5 lg:mx-5 xs:mx-0 lg:mb-28 xs:mb-48">
		  <section class="grid lg:grid-cols-3 xs:grid-cols-1 lg:grid-rows-3 xs:grid-rows-1 gap-4">
		    <div class="relative">
		      <img src="{{ asset('img/galery/1.jpg') }}" alt="Image plat 1" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 1</div>
		    </div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/2.jpg') }}" alt="Image plat 2" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 2</div>
		    </div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/3.jpg') }}" alt="Image plat 3" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 3</div>
			</div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/1.jpg') }}" alt="Image plat 1" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 1</div>
		    </div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/2.jpg') }}" alt="Image plat 2" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 2</div>
		    </div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/3.jpg') }}" alt="Image plat 3" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 3</div>
			</div>
			<div class="relative">
		      <img src="{{ asset('img/galery/1.jpg') }}" alt="Image plat 1" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 1</div>
		    </div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/2.jpg') }}" alt="Image plat 2" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 2</div>
		    </div>
		    <div class="relative">
		      <img src="{{ asset('img/galery/3.jpg') }}" alt="Image plat 3" class="object-cover h-full w-full">
		      <div class="absolute bottom-0 w-full text-center text-white text-xl p-4 hidden">Nom du plat 3</div>
			</div>
		  </section>
		</main>
		{% include 'footer.html.twig' %}
		<script src="{{ asset('javascript/galery.js') }}"></script>
	</body>
</html>