{% include "Components/head.html.twig" %}
<body class="admin-background min-h-screen">
	<header class="bg-brown w-auto lg:py-2 xs:py-1">
		<nav class="stylisedPolice text-center text-white flex lg:gap-3 xs:gap-1 justify-center align-center lg:text-xl rounded-md w-auto mx-4 my-auto xs:text-xs">
			<a href="{{ path('admin_galeryManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier galerie</a>
			<a href="{{ path('admin') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier carte</a>
			<a href="{{ path('admin_shedulerManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Modifier horaire</a>
			<a href="{{ path('admin_bookingManager') }}" class="lg:w-44 xs:w-52 bg-light-brown hover:bg-yellow-600 transition-all ease-in lg:rounded-lg xs:rounded-none">Voir réservations</a>
			<a href="{{ logout_path('main') }}" class="lg:w-44 xs:w-52 bg-red-400 hover:bg-red-500 transition-all ease-in lg:rounded-lg xs:rounded-none">Déconnexion</a>
		</nav>
	</header>
</body>
