<header class="bg-brown w-auto">
	<img src="{{ asset('img/logo.png') }}" class="m-auto h-20 w-80 pt-3">
	<nav class="stylisedPolice text-center text-white flex gap-4 justify-center lg:text-xl xs:text-md rounded-sm w-auto mx-4 my-auto pb-1">
		<a href="{{ path('app_card') }}" class="nav-button transition-all ease-in">Notre carte</a>
		<a href="{{ path('app_galery') }}" class="nav-button transition-all ease-in">Galerie</a>
		<a href="{{ path('app_booking') }}" class="nav-button transition-all ease-in">Réservations</a>
		<a href="{{ path('app_connection') }}" class="nav-button transition-all ease-in">Connexion</a>
	</nav>
</header>


